<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members only Sign up</title>
</head>
<body>
    <h1>Sign Up!</h1>
    <form action="/signup" method="post">
        <label for="first_name">First Name</label>
        <input type="text" name="first_name" id="" placeholder="Name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" id="" placeholder="Surname">
        <label for="date_of_birth">Date of birth</label>
        <input type="date" name="date_of_birth" id="">
        <label for="email">Email</label>
        <input type="email" name="email" id="" placeholder="example@email.com">
        <label for="password">Password</label>
        <input type="password" name="password" id="">
        <button type="submit">Sign Up!</button>
    </form>
</body>
</html>